body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1200 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u1200_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1201 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u1203 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u1204 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u1207_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1207_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u1209 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1210 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u1211 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u1212 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u1214 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216 {
  position:absolute;
  left:25px;
  top:85px;
  width:325px;
  height:595px;
  overflow:hidden;
}
#u1216_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:595px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1216_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1217_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1217_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1218 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:12px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1220 {
  position:absolute;
  left:3px;
  top:0px;
  width:94px;
  height:41px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1222 {
  position:absolute;
  left:104px;
  top:0px;
  width:94px;
  height:41px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  position:absolute;
  left:203px;
  top:0px;
  width:94px;
  height:41px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1217_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1217_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:12px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:3px;
  top:0px;
  width:94px;
  height:41px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1230 {
  position:absolute;
  left:104px;
  top:0px;
  width:94px;
  height:41px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1232 {
  position:absolute;
  left:203px;
  top:0px;
  width:94px;
  height:41px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1217_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1217_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:41px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:12px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1236 {
  position:absolute;
  left:3px;
  top:0px;
  width:94px;
  height:41px;
}
#u1237 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  position:absolute;
  left:104px;
  top:0px;
  width:94px;
  height:41px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:203px;
  top:0px;
  width:94px;
  height:41px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:13px;
  width:90px;
  word-wrap:break-word;
}
#u1242 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:174px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1243 {
  position:absolute;
  left:0px;
  top:51px;
  width:300px;
  height:174px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:79px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 51, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:5px;
  top:61px;
  width:290px;
  height:75px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:30px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:40px;
  top:65px;
  width:16px;
  height:24px;
  font-size:28px;
  color:#FFFFFF;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1250 {
  position:absolute;
  left:24px;
  top:100px;
  width:62px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1252 {
  position:absolute;
  left:149px;
  top:100px;
  width:62px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u1253 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1254 {
  position:absolute;
  left:24px;
  top:118px;
  width:187px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u1256 {
  position:absolute;
  left:234px;
  top:87px;
  width:49px;
  height:23px;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u1257 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1258 {
  position:absolute;
  left:24px;
  top:77px;
  width:13px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1260 {
  position:absolute;
  left:109px;
  top:67px;
  width:102px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 51, 0, 0.549019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1263 {
  position:absolute;
  left:5px;
  top:142px;
  width:290px;
  height:75px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:30px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u1265 {
  position:absolute;
  left:40px;
  top:146px;
  width:16px;
  height:24px;
  font-size:28px;
  color:#FFFFFF;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1267 {
  position:absolute;
  left:24px;
  top:181px;
  width:62px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1269 {
  position:absolute;
  left:149px;
  top:181px;
  width:62px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1271 {
  position:absolute;
  left:24px;
  top:199px;
  width:187px;
  height:12px;
  font-size:12px;
  color:#FFFFFF;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u1273 {
  position:absolute;
  left:234px;
  top:168px;
  width:49px;
  height:23px;
  font-size:8px;
  color:rgba(255, 51, 0, 0.8);
  text-align:center;
}
#u1274 {
  position:absolute;
  left:0px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u1275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1275 {
  position:absolute;
  left:24px;
  top:158px;
  width:13px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
}
#u1276 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1277 {
  position:absolute;
  left:109px;
  top:148px;
  width:102px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1278 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
