body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u923_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u923_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u924 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u925 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u926 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u927 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u929 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u930_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u930_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u932 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u934 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u935 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u936 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u937 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u938 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939 {
  position:absolute;
  left:25px;
  top:85px;
  width:325px;
  height:552px;
  overflow:hidden;
}
#u939_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:552px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:190px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:190px;
}
#u942 {
  position:absolute;
  left:2px;
  top:87px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u944 {
  position:absolute;
  left:15px;
  top:20px;
  width:60px;
  height:60px;
}
#u945 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u946 {
  position:absolute;
  left:85px;
  top:30px;
  width:56px;
  height:16px;
  color:#FFFFFF;
}
#u947 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:85px;
  top:54px;
  width:74px;
  height:16px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:12px;
}
#u950 {
  position:absolute;
  left:175px;
  top:56px;
  width:15px;
  height:12px;
}
#u951 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:39px;
  top:135px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u955 {
  position:absolute;
  left:54px;
  top:102px;
  width:12px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u958 {
  position:absolute;
  left:125px;
  top:135px;
  width:56px;
  height:16px;
  color:#FFFFFF;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u960 {
  position:absolute;
  left:147px;
  top:102px;
  width:12px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u963 {
  position:absolute;
  left:225px;
  top:135px;
  width:42px;
  height:16px;
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:240px;
  top:102px;
  width:12px;
  height:23px;
  font-size:20px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
}
#u968 {
  position:absolute;
  left:10px;
  top:170px;
  width:280px;
  height:120px;
}
#u969 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:19px;
  top:179px;
  width:56px;
  height:16px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u972 {
  position:absolute;
  left:200px;
  top:180px;
  width:74px;
  height:14px;
  font-size:12px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u975 {
  position:absolute;
  left:30px;
  top:214px;
  width:30px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u977 {
  position:absolute;
  left:27px;
  top:244px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u980 {
  position:absolute;
  left:164px;
  top:243px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u982 {
  position:absolute;
  left:167px;
  top:216px;
  width:30px;
  height:24px;
}
#u983 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u985 {
  position:absolute;
  left:96px;
  top:244px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u987 {
  position:absolute;
  left:101px;
  top:214px;
  width:28px;
  height:28px;
}
#u988 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u990 {
  position:absolute;
  left:233px;
  top:243px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u991 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:26px;
}
#u992 {
  position:absolute;
  left:236px;
  top:215px;
  width:30px;
  height:26px;
}
#u993 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
  -webkit-box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
  box-shadow:0px 0px 10px rgba(51, 51, 51, 0.349019607843137);
}
#u995 {
  position:absolute;
  left:10px;
  top:300px;
  width:280px;
  height:120px;
}
#u996 {
  position:absolute;
  left:2px;
  top:52px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:19px;
  top:309px;
  width:70px;
  height:16px;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1000 {
  position:absolute;
  left:21px;
  top:374px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u1002 {
  position:absolute;
  left:35px;
  top:341px;
  width:22px;
  height:28px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u1005 {
  position:absolute;
  left:100px;
  top:344px;
  width:30px;
  height:23px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1007 {
  position:absolute;
  left:90px;
  top:374px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1010 {
  position:absolute;
  left:164px;
  top:374px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u1011 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1012 {
  position:absolute;
  left:174px;
  top:338px;
  width:30px;
  height:30px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1015 {
  position:absolute;
  left:233px;
  top:374px;
  width:49px;
  height:14px;
  font-size:12px;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
}
#u1017 {
  position:absolute;
  left:253px;
  top:341px;
  width:10px;
  height:25px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#09BB07;
}
#u1019 {
  position:absolute;
  left:10px;
  top:491px;
  width:280px;
  height:31px;
  color:#09BB07;
}
#u1020 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-top:0px;
  border-radius:35px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1022 {
  position:absolute;
  left:25px;
  top:637px;
  width:302px;
  height:42px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:13px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:25px;
  top:637px;
  width:100px;
  height:42px;
  overflow:hidden;
}
#u1024_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1024_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1025 {
  position:absolute;
  left:40px;
  top:4px;
  width:20px;
  height:18px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u1027 {
  position:absolute;
  left:39px;
  top:25px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u1028 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1024_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1024_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1029 {
  position:absolute;
  left:40px;
  top:4px;
  width:20px;
  height:18px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u1031 {
  position:absolute;
  left:39px;
  top:25px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1034 {
  position:absolute;
  left:126px;
  top:637px;
}
#u1034_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1034_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u1035 {
  position:absolute;
  left:34px;
  top:25px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1037 {
  position:absolute;
  left:38px;
  top:4px;
  width:20px;
  height:18px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1034_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1034_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u1040 {
  position:absolute;
  left:34px;
  top:25px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1042 {
  position:absolute;
  left:38px;
  top:4px;
  width:20px;
  height:18px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  position:absolute;
  left:226px;
  top:637px;
}
#u1044_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1044_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#5E5E5E;
}
#u1045 {
  position:absolute;
  left:29px;
  top:25px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#5E5E5E;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1047 {
  position:absolute;
  left:41px;
  top:4px;
  width:20px;
  height:18px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1044_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1044_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#09BB07;
}
#u1050 {
  position:absolute;
  left:29px;
  top:25px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#09BB07;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u1052 {
  position:absolute;
  left:41px;
  top:4px;
  width:20px;
  height:18px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
