body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u325 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u325_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u325_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u326 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u327 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u328 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u329 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u331 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u332_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u332_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u334 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u336 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u337 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u338 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u339 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u340 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:25px;
  top:85px;
  width:325px;
  height:552px;
  overflow:hidden;
}
#u341_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:552px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u341_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u342 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u343 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  overflow:hidden;
}
#u343_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u343_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u344 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u345 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u346 {
  position:absolute;
  left:34px;
  top:25px;
  width:100px;
  height:100px;
}
#u347 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u343_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u348 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u349 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u350 {
  position:absolute;
  left:35px;
  top:25px;
  width:100px;
  height:100px;
}
#u351 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u343_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u343_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:150px;
}
#u353 {
  position:absolute;
  left:2px;
  top:67px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u354 {
  position:absolute;
  left:39px;
  top:25px;
  width:100px;
  height:100px;
}
#u355 {
  position:absolute;
  left:10px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356 {
  position:absolute;
  left:130px;
  top:130px;
}
#u356_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u356_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u358 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u359 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u360 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u361 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u362 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u356_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u363 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u364 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u366 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u367 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u368 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u356_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u369 {
  position:absolute;
  left:32px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u370 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u371 {
  position:absolute;
  left:16px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u372 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
  font-size:14px;
  color:#FFFFFF;
}
#u374 {
  position:absolute;
  left:0px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u376 {
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:126px;
}
#u377 {
  position:absolute;
  left:2px;
  top:55px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#868686;
}
#u378 {
  position:absolute;
  left:27px;
  top:233px;
  width:252px;
  height:27px;
  font-size:10px;
  color:#868686;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  word-wrap:break-word;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u380 {
  position:absolute;
  left:113px;
  top:181px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u382 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FF0000;
}
#u383 {
  position:absolute;
  left:16px;
  top:163px;
  width:59px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u384 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u386 {
  position:absolute;
  left:24px;
  top:200px;
  width:31px;
  height:18px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:2px;
}
#u388 {
  position:absolute;
  left:27px;
  top:208px;
  width:29px;
  height:1px;
}
#u389 {
  position:absolute;
  left:2px;
  top:-8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u391 {
  position:absolute;
  left:270px;
  top:173px;
  width:15px;
  height:13px;
}
#u392 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u393 {
  position:absolute;
  left:267px;
  top:191px;
  width:22px;
  height:13px;
  font-size:10px;
}
#u394 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u395 {
  position:absolute;
  left:253px;
  top:168px;
  width:1px;
  height:45px;
}
#u396 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u398 {
  position:absolute;
  left:0px;
  top:280px;
  width:300px;
  height:55px;
}
#u399 {
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u400 {
  position:absolute;
  left:12px;
  top:296px;
  width:30px;
  height:18px;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u402 {
  position:absolute;
  left:69px;
  top:298px;
  width:73px;
  height:14px;
  font-size:12px;
  color:#868686;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u404 {
  position:absolute;
  left:258px;
  top:302px;
  width:5px;
  height:5px;
}
#u405 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u406 {
  position:absolute;
  left:267px;
  top:302px;
  width:5px;
  height:5px;
}
#u407 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u408 {
  position:absolute;
  left:276px;
  top:302px;
  width:5px;
  height:5px;
}
#u409 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u410 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:474px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  position:absolute;
  left:0px;
  top:525px;
  width:300px;
  height:474px;
}
#u412 {
  position:absolute;
  left:2px;
  top:229px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:2px;
}
#u413 {
  position:absolute;
  left:12px;
  top:558px;
  width:273px;
  height:1px;
}
#u414 {
  position:absolute;
  left:2px;
  top:-8px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u415 {
  position:absolute;
  left:121px;
  top:533px;
  width:56px;
  height:16px;
}
#u416 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u417 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:66px;
}
#u418 {
  position:absolute;
  left:24px;
  top:818px;
  width:108px;
  height:66px;
}
#u419 {
  position:absolute;
  left:2px;
  top:25px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  position:absolute;
  left:167px;
  top:832px;
  width:105px;
  height:38px;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:66px;
}
#u422 {
  position:absolute;
  left:164px;
  top:908px;
  width:108px;
  height:66px;
}
#u423 {
  position:absolute;
  left:2px;
  top:25px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:24px;
  top:922px;
  width:105px;
  height:38px;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:129px;
}
#u426 {
  position:absolute;
  left:24px;
  top:663px;
  width:248px;
  height:129px;
}
#u427 {
  position:absolute;
  left:2px;
  top:56px;
  width:244px;
  visibility:hidden;
  word-wrap:break-word;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u428 {
  position:absolute;
  left:98px;
  top:597px;
  width:105px;
  height:38px;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u430 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u431 {
  position:absolute;
  left:0px;
  top:1004px;
  width:300px;
  height:173px;
}
#u432 {
  position:absolute;
  left:2px;
  top:78px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u434 {
  position:absolute;
  left:119px;
  top:1014px;
  width:49px;
  height:18px;
  font-size:12px;
  color:#5E5E5E;
}
#u435 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u436 {
  position:absolute;
  left:80px;
  top:1021px;
  width:33px;
  height:1px;
}
#u437 {
  position:absolute;
  left:2px;
  top:-8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u438 {
  position:absolute;
  left:173px;
  top:1021px;
  width:33px;
  height:1px;
}
#u439 {
  position:absolute;
  left:2px;
  top:-8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u440 {
  position:absolute;
  left:12px;
  top:1050px;
  width:267px;
  height:77px;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:180px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  position:absolute;
  left:0px;
  top:340px;
  width:300px;
  height:180px;
}
#u444 {
  position:absolute;
  left:2px;
  top:82px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u445 {
  position:absolute;
  left:12px;
  top:347px;
  width:28px;
  height:16px;
}
#u446 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u447 {
  position:absolute;
  left:218px;
  top:348px;
  width:67px;
  height:14px;
  font-size:12px;
}
#u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u450 {
  position:absolute;
  left:12px;
  top:378px;
  width:25px;
  height:25px;
}
#u451 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u452 {
  position:absolute;
  left:38px;
  top:378px;
  width:33px;
  height:13px;
  font-size:12px;
}
#u453 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u455 {
  position:absolute;
  left:68px;
  top:393px;
  width:10px;
  height:10px;
}
#u456 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u457 {
  position:absolute;
  left:38px;
  top:393px;
  width:10px;
  height:10px;
}
#u458 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u459 {
  position:absolute;
  left:48px;
  top:393px;
  width:10px;
  height:10px;
}
#u460 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u461 {
  position:absolute;
  left:58px;
  top:393px;
  width:10px;
  height:10px;
}
#u462 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u463 {
  position:absolute;
  left:78px;
  top:393px;
  width:10px;
  height:10px;
}
#u464 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u465 {
  position:absolute;
  left:12px;
  top:413px;
  width:193px;
  height:16px;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u467 {
  position:absolute;
  left:12px;
  top:439px;
  width:50px;
  height:50px;
}
#u468 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u469 {
  position:absolute;
  left:66px;
  top:439px;
  width:50px;
  height:50px;
}
#u470 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u471 {
  position:absolute;
  left:119px;
  top:439px;
  width:50px;
  height:50px;
}
#u472 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u473 {
  position:absolute;
  left:173px;
  top:439px;
  width:50px;
  height:50px;
}
#u474 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u475 {
  position:absolute;
  left:227px;
  top:439px;
  width:50px;
  height:50px;
}
#u476 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:595px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u479 {
  position:absolute;
  left:25px;
  top:85px;
  width:300px;
  height:595px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u480 {
  position:absolute;
  left:2px;
  top:290px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u481 {
  position:absolute;
  left:25px;
  top:370px;
  width:300px;
  height:310px;
  font-size:14px;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:0px;
  top:147px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u483 {
  position:absolute;
  left:307px;
  top:380px;
  width:10px;
  height:11px;
}
#u484 {
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:30px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u485 {
  position:absolute;
  left:42px;
  top:641px;
  width:261px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u486 {
  position:absolute;
  left:2px;
  top:8px;
  width:257px;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u488 {
  position:absolute;
  left:42px;
  top:498px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u490 {
  position:absolute;
  left:42px;
  top:530px;
  width:68px;
  height:22px;
  font-size:12px;
  color:#868686;
}
#u490_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u490.selected {
}
#u491 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u492 {
  position:absolute;
  left:138px;
  top:530px;
  width:68px;
  height:22px;
  font-size:12px;
  color:#868686;
}
#u492_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u492.selected {
}
#u493 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u494 {
  position:absolute;
  left:233px;
  top:530px;
  width:68px;
  height:22px;
  font-size:12px;
  color:#868686;
}
#u494_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#868686;
}
#u494.selected {
}
#u495 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u497 {
  position:absolute;
  left:40px;
  top:395px;
  width:80px;
  height:80px;
}
#u498 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u499 {
  position:absolute;
  left:131px;
  top:402px;
  width:44px;
  height:23px;
  font-size:20px;
  color:#FF0000;
}
#u500 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u501 {
  position:absolute;
  left:136px;
  top:432px;
  width:69px;
  height:14px;
  font-size:12px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u503 {
  position:absolute;
  left:136px;
  top:452px;
  width:86px;
  height:14px;
  font-size:12px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  white-space:nowrap;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u506 {
  position:absolute;
  left:42px;
  top:597px;
  width:30px;
  height:25px;
  font-size:16px;
  color:#868686;
}
#u507 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(134, 134, 134, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#868686;
}
#u508 {
  position:absolute;
  left:120px;
  top:597px;
  width:30px;
  height:25px;
  font-size:16px;
  color:#868686;
}
#u509 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u510 {
  position:absolute;
  left:71px;
  top:597px;
  width:50px;
  height:25px;
}
#u510_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u511 {
  position:absolute;
  left:42px;
  top:567px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u513 {
  position:absolute;
  left:233px;
  top:642px;
  width:80px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u514 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u515 {
  position:absolute;
  left:143px;
  top:642px;
  width:80px;
  height:30px;
  font-size:12px;
  color:#FFFFFF;
}
#u516 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u518 {
  position:absolute;
  left:55px;
  top:641px;
  width:20px;
  height:19px;
}
#u519 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u520 {
  position:absolute;
  left:54px;
  top:661px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u522 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u523 {
  position:absolute;
  left:93px;
  top:641px;
  width:20px;
  height:20px;
}
#u524 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#BCBCBC;
}
#u525 {
  position:absolute;
  left:90px;
  top:661px;
  width:32px;
  height:13px;
  font-size:10px;
  color:#BCBCBC;
}
#u526 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:89px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:12px;
  color:#FFFFFF;
}
#u527 {
  position:absolute;
  left:360px;
  top:591px;
  width:230px;
  height:89px;
  font-size:12px;
  color:#FFFFFF;
}
#u528 {
  position:absolute;
  left:10px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  position:absolute;
  left:25px;
  top:85px;
  width:100px;
  height:30px;
}
#u530_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530.selected {
}
#u531 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532 {
  position:absolute;
  left:125px;
  top:85px;
  width:100px;
  height:30px;
}
#u532_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u532.selected {
}
#u533 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:225px;
  top:85px;
  width:100px;
  height:30px;
}
#u535 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
