body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u1672_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1673 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u1675 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u1676 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1677 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1679 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u1679_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1679_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u1681 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u1683 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u1684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u1684 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u1686 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:595px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1690 {
  position:absolute;
  left:25px;
  top:85px;
  width:300px;
  height:595px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1691 {
  position:absolute;
  left:2px;
  top:290px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1692 {
  position:absolute;
  left:35px;
  top:255px;
  width:280px;
  height:160px;
  font-size:14px;
  color:#FFFFFF;
}
#u1693 {
  position:absolute;
  left:0px;
  top:72px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u1694 {
  position:absolute;
  left:47px;
  top:303px;
  width:240px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u1695 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#09BB07;
}
#u1696 {
  position:absolute;
  left:35px;
  top:365px;
  width:280px;
  height:50px;
  font-size:18px;
  color:#09BB07;
}
#u1697 {
  position:absolute;
  left:0px;
  top:17px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#09BB07;
}
#u1698 {
  position:absolute;
  left:175px;
  top:365px;
  width:140px;
  height:50px;
  font-size:18px;
  color:#09BB07;
}
#u1699 {
  position:absolute;
  left:0px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
}
#u1700 {
  position:absolute;
  left:35px;
  top:365px;
  width:140px;
  height:50px;
  font-size:18px;
  color:#000000;
}
#u1701 {
  position:absolute;
  left:0px;
  top:14px;
  width:140px;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1702 {
  position:absolute;
  left:175px;
  top:365px;
  width:1px;
  height:50px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1705 {
  position:absolute;
  left:34px;
  top:192px;
  width:281px;
  height:76px;
}
#u1706 {
  position:absolute;
  left:2px;
  top:30px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1707 {
  position:absolute;
  left:49px;
  top:239px;
  width:211px;
  height:16px;
}
#u1708 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1709 {
  position:absolute;
  left:49px;
  top:207px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1710 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1711 {
  position:absolute;
  left:148px;
  top:207px;
  width:74px;
  height:16px;
}
#u1712 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:287px;
  top:220px;
  width:20px;
  height:20px;
}
#u1714 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715 {
  position:absolute;
  left:34px;
  top:192px;
  width:253px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1716 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1717 {
  position:absolute;
  left:34px;
  top:106px;
  width:281px;
  height:76px;
}
#u1718 {
  position:absolute;
  left:2px;
  top:30px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1719 {
  position:absolute;
  left:49px;
  top:153px;
  width:211px;
  height:16px;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1721 {
  position:absolute;
  left:49px;
  top:121px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  position:absolute;
  left:148px;
  top:121px;
  width:74px;
  height:16px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1725 {
  position:absolute;
  left:247px;
  top:119px;
  width:40px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u1726 {
  position:absolute;
  left:2px;
  top:3px;
  width:36px;
  word-wrap:break-word;
}
#u1727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1727 {
  position:absolute;
  left:287px;
  top:134px;
  width:20px;
  height:20px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729 {
  position:absolute;
  left:34px;
  top:106px;
  width:253px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(9, 187, 7, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#09BB07;
}
#u1731 {
  position:absolute;
  left:35px;
  top:619px;
  width:280px;
  height:31px;
  color:#09BB07;
}
#u1732 {
  position:absolute;
  left:2px;
  top:8px;
  width:276px;
  word-wrap:break-word;
}
#u1733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  color:#09BB07;
}
#u1733 {
  position:absolute;
  left:131px;
  top:627px;
  width:16px;
  height:15px;
  font-size:24px;
  color:#09BB07;
}
#u1734 {
  position:absolute;
  left:0px;
  top:-7px;
  width:16px;
  white-space:nowrap;
}
