body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  overflow:hidden;
}
#u1055_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1055_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:658px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(27, 27, 27, 1);
  border-radius:36px;
  -moz-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  -webkit-box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
  box-shadow:0px -5px 5px rgba(174, 174, 174, 0.349019607843137);
}
#u1056 {
  position:absolute;
  left:24px;
  top:20px;
  width:304px;
  height:658px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:321px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u1058 {
  position:absolute;
  left:25px;
  top:20px;
  width:302px;
  height:36px;
  color:#F2F2F2;
}
#u1059 {
  position:absolute;
  left:2px;
  top:10px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:700px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:342px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:26px;
  top:55px;
  width:300px;
  height:30px;
  overflow:hidden;
}
#u1062_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1062_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:7px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1065 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-size:16px;
  color:#000000;
}
#u1066 {
  position:absolute;
  left:0px;
  top:6px;
  width:300px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:3px;
}
#u1067 {
  position:absolute;
  left:263px;
  top:14px;
  width:15px;
  height:3px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:12px;
}
#u1069 {
  position:absolute;
  left:10px;
  top:9px;
  width:6px;
  height:12px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:-2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u1071 {
  position:absolute;
  left:125px;
  top:125px;
  width:100px;
  height:100px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1073 {
  position:absolute;
  left:98px;
  top:248px;
  width:158px;
  height:23px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  white-space:nowrap;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1075 {
  position:absolute;
  left:58px;
  top:329px;
  width:152px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#5E5E5E;
}
#u1077 {
  position:absolute;
  left:73px;
  top:355px;
  width:207px;
  height:16px;
  font-size:12px;
  color:#5E5E5E;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1079 {
  position:absolute;
  left:58px;
  top:397px;
  width:90px;
  height:30px;
  color:#FFFFFF;
}
#u1080 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(9, 187, 7, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1081 {
  position:absolute;
  left:197px;
  top:397px;
  width:90px;
  height:30px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
